page-account-settings {
    .ion-header {
        margin-top: 1%;
        background-color:rgba(255, 255, 255, 0.0);
        padding-top: 9%;
        border: none;
        box-shadow: none;
    }
    .account-icon {
        margin-top: 45%;
        margin-left: 23%;
    }

    .edit-icon {
        margin-top: -38%;
        margin-left: 42%;
    }

    .name-form {
        margin-left: 21%;
        width: 174px;//232px;
        height: 28,5px;//38px;
        margin-top: 22px;
        border-radius: 30px;
        margin-top: 40%;
        border: solid grey 0.5px;
        color: lightgrey;
        text-align: center;
    }
    .ion-content {
        --overflow: hidden;
        overflow: hidden;
        text-align: center;
    }

    .parms-chaine {
        margin-bottom: 25px
    }

    .parms-profil {
        margin-bottom: 25px
    }

    .change-pwd {
        margin-bottom: 25px
    }

    .sub-stream {
        margin-bottom: 25px
    }

    .id-subscribe {
        //width: 174px;//232px;
        //height: 28,5px;//38px;
        //margin-top: 22px;
        //border-radius: 30px;
        //border: solid grey 0.5px;
        //color: lightgrey;
       // text-align: center;
        margin-left: 21%;
        width: 174px;//232px;
        height: 28px;//38px;
        margin-top: 10%;
        border-radius: 30px;
        //border: solid grey 0.5px;
        color: lightgrey;
        text-align: center;
        background-color: #EF0051;
        color: white;
    }

    background-color:rgb(255, 255, 255);

    .header-radio {
        background-color:rgba(255, 255, 255, 0.0);
    }
    .back_link_button {
        background-color:rgba(255, 255, 255, 0.0);
    }

    .delete-button {
        color: #EF0051;
        color: #EF0051;
    }

    .seekbar {
        margin-top: 12%;
        margin-left: -12%;
        margin-left: -12%;


    }

    .button-home {
        margin-left: -5%;
        margin-right: 15%;
    }

    .bell-button {
        margin-left: 15%;
    }

    tspan {
        font-size: 16px
    }

    .id-line {
        color: grey;
    }
    .header-ios {
        display: flex;
        background-color: white;
        flex-direction: row;
        align-items: center;
        position: absolute;
        top: 3%;
    }
    hr {
        border: 0.1px solid black;
        width: 70%;
        margin-bottom: 25px;
    }

    .scroll-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
  --overflow: hidden;
  overflow: hidden;
}
