page-radio-rec-1 {
    .header {
        background-color:rgba(255, 255, 255, 0.0);
        padding-top: 9%;
        //border: none;
    }

    tspan {
        font-size: 16px;
    }

    .ion-content {
        --overflow: hidden;
        overflow: hidden;
    }

    .delete-button {
        margin-top: 3%;
        margin-left: 27%;
        color: #EF0051;
        font-size: 1.0em;
    }

    background-color:rgb(255, 255, 255);

    .header-radio {
        background-color:rgba(255, 255, 255, 0.0);
    }
    .back_link_button {
        background-color:rgba(255, 255, 255, 0.0);
    }

    .radio-icon {


        .button-start-stop {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color:rgba(255, 255, 255, 0.0);
            color: white;
            font-size: 16px;
            padding: 12px 24px;
            border: none;
            cursor: pointer;
            border-radius: 5px;

        }
    }

    .radio-infos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .ion-content {
        text-align: center;
    }

    .radio-title {
        margin-right: 5%;
        margin-left: 19%;
    }

    .seekbar {
        margin-top: 12%;
        margin-left: -20%;


    }
    .header-ios {
        display: flex;
        background-color: white;
        flex-direction: row;
        align-items: center;
        position: absolute;
        top: 2%;
    }
    .button-home {
        margin-left: -5%;
        margin-right: 15%;
    }

    .button-rec {
        margin-right: auto;
    }
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
  --overflow: hidden;
  overflow: hidden;
}

.like-button-red {
    display: none;
}

.like-button-white {
    display: block;
}
