page-chaine-rec {
    .header {
        background-color:rgba(255, 255, 255, 0.0);
        padding-top: 9%;
        //border: none;
    }
    .profil-button {
        margin-left: 10%;
    }

    .ion-content {
        --overflow: hidden;
        overflow: hidden;
    }

    .number-listener {
        margin-left: 30%;
    }
    .mic-button {
        margin-left: 38%;
    }
    .delete-button {
        margin-top: 3%;
        margin-left: 27%;
        color: #EF0051;
        font-size: 1.0em;
    }

    background-color:rgb(255, 255, 255);
    
    .header-radio {
        background-color:rgba(255, 255, 255, 0.0);
    }
    .back_link_button {
        background-color:rgba(255, 255, 255, 0.0);
    }

    .radio-icon {
        margin-top: 10%;
        margin-left: 20%;

        
        .button-start-stop {
            position: absolute;
            top: 36%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color:rgba(255, 255, 255, 0.0);
            color: white;
            font-size: 16px;
            padding: 12px 24px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            
        }
    }

    .radio-infos {
        .like-button {
            margin-left: 65%;
        }
        .radio-title {
            position: fixed;
            margin-left: -55%;
            //display: inline-block;
        }
        margin-top: 3%;
    }

    .seekbar {
        margin-top: 12%;
        margin-left: -12%;
        

    }

    .button-home {
        margin-top: 0%;
        margin-left: -5%;
        margin-right: 15%;
    }

    .button-rec {
        
        margin-right: auto;
        margin-left: 24%;
    }
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
  --overflow: hidden;
  overflow: hidden;
}